# **Tarea 02 - Calculo de medidas de tendencia central**

Jhonatan Yael Martínez Vargas - A01734193

Luis Adrián Díaz Santana González - A01734193

Francisco Antonio López Ricardez -A01737275

En la actualidad, el análisis de datos se está convirtiendo en una actividad recurrente dentro del mundo empresarial, pues permite examinar, transformar y modelar datos con el fin de extraer información útil. Esto hace que sea una herramienta muy útil al momento de optimizar procesos, tomar decisiones y descubrir patrones que puedan generar predicciones.

Por ese mismo motivo a continuación se presenta un breve ejemplo de cómo usando la librería pandas de python, se pueden extraer las medidas de tendencia central de una base de datos libre proveniente del e-commerce “Ulabox”, y como estas mismas ayudan a entender cual es comportamiento del negocio.

---

### **Paso 01**

Se importa la libreria, se guardan los datos del archivo .csv y se muestra el dataframe generado

###### *Nota: en este caso separamos los datos en diferentes dataframes para que posteriormente se visualizen de mejor manera.*

In [75]:
import pandas as pd 

df = pd.read_csv("ulabox_orders_with_categories_partials_2017.csv")

items = df[['total_items']]
disconut = df[['discount%']]
date = df[['weekday', 'hour']]
departments = df[['Food%', 'Fresh%', 'Drinks%', 'Home%', 'Beauty%', 'Health%', 'Baby%', 'Pets%']]

df

,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
0,0,0,45,23.03,4,13,9.46,87.06,3.48,0.00,0.00,0.00,0.0,0.0
1,0,1,38,1.22,5,13,15.87,75.80,6.22,2.12,0.00,0.00,0.0,0.0
2,0,2,51,18.08,4,13,16.88,56.75,3.37,16.48,6.53,0.00,0.0,0.0
3,1,3,57,16.51,1,12,28.81,35.99,11.78,4.62,2.87,15.92,0.0,0.0
4,1,4,53,18.31,2,11,24.13,60.38,7.78,7.72,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,10235,29995,4,0.00,5,10,5.80,0.00,51.30,0.00,0.00,0.00,0.0,42.9
29996,10236,29996,1,0.00,7,21,0.00,0.00,0.00,0.00,100.00,0.00,0.0,0.0
29997,10237,29997,54,0.00,4,17,9.25,0.00,77.48,13.27,0.00,0.00,0.0,0.0
29998,10237,29998,10,0.00,5,10,0.00,0.00,100.00,0.00,0.00,0.00,0.0,0.0
29999,10238,29999,2,0.00,4,17,0.00,0.00,0.00,0.00,0.00,0.00,100.0,0.0

Observando el data frame anterior nos percatamos que la base de datos con la que estamos trabajando contiene la informacion de **30,000** compras realizadas, en este caso cada una de las columnas representa lo sigueinte:

- **Customer:** Numero de cliente.

- **Order:** Numero de pedido.

- **Total_items:** Total de objetos comprados.

- **Discount:** Porcentaje de descuento aplicado a la compra.

- **Weekday:** Dia de la semana en la que se realizo la compra.

- **Hour:** Hora en la que se realizo la compra.

- **Food:** Porcentaje de la compra destinada a alimentos.

- **Fresh:** Porcentaje de la compra destinada aproductos frescos.

- **Drinks:** Porcentaje de la compra destinada a bebidas.

- **Home:**  Porcentaje de la compra destinada a productos para el hogar. 

- **Beauty:**  Porcentaje de la compra destinada a productos de belleza.

- **Health:**  Porcentaje de la compra destinada al cuidado de la salud.

- **Baby:**  Porcentaje de la compra destinada a productos de bebe.

- **Pets:**  Porcentaje de la compra destinada a productos para la mascota.

---

### **Paso 02**

Una vez identificados los datos con los que se va a trabajar es necesario calcular las medidas de tendencia central, para esto usamos los metodos ***describe*** y ***mode*** para los casos en donde se requiera.

In [84]:
print("Medidas de tendencia central de los objetos comprado")
items.describe()

Medidas de tendencia central de los objetos comprado

        total_items
count  30000.000000
mean      31.739933
std       20.576579
min        1.000000
25%       18.000000
50%       29.000000
75%       41.000000
max      298.000000

In [77]:
print("Moda de los objetos comprados")
items.mode()

Moda de los objetos comprados

   total_items
0           25

Con esta informacion se puede apreciar que para un total de **30,000** ventas, el ***promedio*** de productos de que se compran osciala entre **31 y 32 articulos**, mientras que la mayoria de la gente compra **25 articulos**.

O dicho de otra manera:
* Para el **25%** de las ventas la gente compra menos de 18 articulos.
* Para el **50%** de las ventas la gente compra menos de 29 articulos.
* Para el **75%** de las ventas la gente compra menos de 41 articulos.

In [78]:
print("Medidas de tendencia central de los descuentos aplicados")
disconut.describe()

Medidas de tendencia central de los descuentos aplicados

          discount%
count  30000.000000
mean       8.455495
std       14.199350
min      -65.150000
25%        1.177500
50%        4.160000
75%        9.990000
max      100.000000

In [79]:
print("Moda de los descuentos aplicados")
disconut.mode()

Moda de los descuentos aplicados

   discount%
0        0.0

Podemos analizar que en la mayoria de productos, (la moda) no presentan algún tipo de descuento, siendo la moda un descuento del 0.0%

In [80]:
print("Moda de las fechas de compra")
date.mode()

Moda de las fechas de compra

   weekday  hour
0        1    22

En base a los datos arrojados respecto a la moda de fechas de compra, podemos analizar que la mayoria de compras se hacen el día lunes a las 10 de la noche.

In [81]:
print("Medidas de tendencia central de los porcentajes de compras por departamento")
departments.describe()

Medidas de tendencia central de los porcentajes de compras por departamento

,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,23.560406,20.227279,23.349235,13.539575,5.892949,1.132959,11.096145,1.043087
std,21.719824,23.661767,22.523335,17.850282,13.996518,5.307620,24.740364,6.195390
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.220000,0.000000,6.710000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.650000,10.930000,17.890000,7.210000,0.000000,0.000000,0.000000,0.000000
75%,33.260000,35.790000,33.162500,20.002500,6.512500,0.000000,4.172500,0.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

Aqui va una breve descripcion de las medidas de tendencia central de los porcentajes de compra por departamento

---

### **Analisis final**

Con este breve analisis que se hizo de los datos, podemos decir que la mayoria de las ventas se hacen los dias **lunes** aproximadamente a las **22:00 hrs**, siendo los departamentos ***Food***, ***Drinks*** y ***Fresh*** los que mas productos venden respectivamente.

Lo cual nos hace pensar lo siguiente:

* Ulabox es un supermercado digital orientendo principalmente a la venta de insumos alimenticios.
* Posiblemente Ulabox no cuente cuente con variedad o stock suficiente de productos distintos a los del sector alimentario.
* La mayoria de los compradores suelen hacer la despensa una vez a la semana despuesde trabajar.|